body {
    background-color: rgb(22, 26, 46);
}

.pulse {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(255, 208, 0);
}


.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        box-shadow: rgb(255, 196, 0) 0 0;
    }
    100% {
        box-shadow: rgba(255, 196, 0, 0.05) 0 0 0 24px;
    }
    /* 100% {
        box-shadow: rgb(255, 196, 0) 0 0;
    } */
} 

.container {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}